################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Pitstop.ApiGateway/obj
/.vs/Accoon.Pitstop.ApiGateway/v15
/.vs/config
/src/Pitstop.ApiGateway/bin/Debug/netcoreapp2.2
